name: Generate hash for release files

on:
  release:
    types: [published]

jobs:
  print-username:
    runs-on: ubuntu-latest
    steps:
      - uses: MCJack123/ghaction-generate-release-hashes@v1
      with:
        hash-type: sha1
        file-name: hashes.txt
      - uses: actions/upload-artifact@v2
      with:
        name: Asset Hashes
        path: hashes.txt

